[Unit]
Description=Keyboard Backlight
After=display-manager.service

[Service]
Type=forking
User=root
ExecStart=/usr/local/bin/kbd-backlight default

[Install]
WantedBy=multi-user.target
